@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using uicTest.Shared.Components.Nav
<nav id="navbar" class="navbar navbar-expand prevent-select box-shadow w-100">
    <HiddenTop />
    <div class="container-fluid nav-items-bar">
        <a class="navbar-brand align-self-baseline" href="">
            <img src="../images/psuic-logo.png" alt="">
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            </span>
        </button>
        @*<div class="navbar-desktop">

        </div>*@
        <div @ref=navMobile class="navbar-mobile">
            <ul class="navbar-nav @NavMenuCssClass">
                <a href="javascript:void(0)" class="closebtn" @onclick="ToggleNavMenu">&times;</a>
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li @ref=navDropDown1 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown1))>
                    <NavLink class="nav-link dropdown-toggle">About Us</NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavItem isDropdownItem=true ItemName="History"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Vision & Mission"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Executives"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Faculty Members"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Staff"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Cooperate Identity"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Annual Report"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Contact Us"></NavItem></li>
                    </ul>
                </li>
                <li @ref=navDropDown2 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown2))>
                    <NavLink class="nav-link dropdown-toggle">News</NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavItem isDropdownItem=true ItemName="Announcements"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Job Vacancies"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="Press and Media"></NavItem></li>
                    </ul>
                </li>
                <li @ref=navDropDown3 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown3))>
                    <NavLink class="nav-link dropdown-toggle">Programs</NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavItem isDropdownItem=true ItemName="CMDT"></NavItem></li>
                        <li><NavItem isDropdownItem=true ItemName="GE"></NavItem></li>
                    </ul>
                </li>
                <li @ref=navDropDown4 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown4))>
                    <NavLink class="nav-link dropdown-toggle">Student</NavLink>
                    <ul class="dropdown-content">
                        @*This divider is hidden until a method to change color is found*@
                        @*<li><hr class="dropdown-divider"></li>*@
                        <li @ref=navDropDown5 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown5,@navDropDown4))>
                            <NavLink class="nav-link dropdown-toggle">Student Activities</NavLink>
                            <ul class="dropdown-content">
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Student Association"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Club and Acitivity Transcript"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Student Discipline Rules and Regulations"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Disciplinary Procedures"></NavItem></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown6 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown6,@navDropDown4))>
                            <NavLink class="nav-link dropdown-toggle">Student Services</NavLink>
                            <ul class="dropdown-content">
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Health Service"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Counseling Service"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Housing"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Academic Calendar"></NavItem></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown7 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown7,@navDropDown4))>
                            <NavLink class="nav-link dropdown-toggle">Academic Service</NavLink>
                            <ul class="dropdown-content">
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Exchange Programs"></NavItem></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li @ref=navDropDown8 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown8))>
                    <NavLink class="nav-link dropdown-toggle">PSU Online Systems</NavLink>
                    <ul class="dropdown-content">
                        @*This divider is hidden until a method to change color is found*@
                        <li @ref=navDropDown9 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown9,@navDropDown8))>
                            <NavLink class="nav-link dropdown-toggle">Curriculum</NavLink>
                            <ul class="dropdown-content">
                                <li><NavItem isDropdownItem=true subItem=true ItemName="MIS-DSS"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="HRMIS"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Course Spec"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Coure Report"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="PSU-TPSF"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Grade Submission System"></NavItem></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown10 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown10,@navDropDown8))>
                            <NavLink class="nav-link dropdown-toggle">Cooperative Education</NavLink>
                            <ul class="dropdown-content">
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Dormitory Reservation"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Registration Office"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="SIS"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="LMS"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="PSU Student Loan"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="PSU Activity Transcript"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="Facility Booking"></NavItem></li>
                                <li><NavItem isDropdownItem=true subItem=true ItemName="PSU-TES"></NavItem></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @*Search Bar*@
                <li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </li>
                @*Languages Buttons*@
                <li>
                    <ul class="nav-languages">
                        <li class="">
                            <a class="" aria-current="page" href="#">EN</a>
                        </li>
                        <li class="">
                            <p class=""> | </p>
                        </li>
                        <li class="">
                            <a class="" aria-current="page" href="#">TH</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
@code {
    private ElementReference navMobile;
    [Parameter] public EventCallback OnCancel { get; set; }
    private ElementReference navDropDown1;
    private ElementReference navDropDown2;
    private ElementReference navDropDown3;
    private ElementReference navDropDown4;
    private ElementReference navDropDown5;
    private ElementReference navDropDown6;
    private ElementReference navDropDown7;
    private ElementReference navDropDown8;
    private ElementReference navDropDown9;
    private ElementReference navDropDown10;

    private bool collapseNavMenu = false;
    private bool firstClick = false;

    //private string? NavMenuCssClass => collapseNavMenu ? "navbar-collapse" : null;
    //private string? NavMenuCssClass => collapseNavMenu ? "openNav" : "closeNav";
    private string? NavMenuCssClass => firstClick ? (collapseNavMenu ? "openNav" : "closeNav") : "navbar-collapse";

    private void ToggleNavMenu()
    {
        if (firstClick == false) firstClick = true;
        collapseNavMenu = !collapseNavMenu;
    }

    // desktop version
    private void ToggleDropDownDesktop()
    {

    }

    // mobile version

    private async void CloseNavMenuMobile()
    {
        await JSRuntime.InvokeVoidAsync("swipeUp", navMobile);
    }

    private async void ToggleNavDropDown(ElementReference element)
    {
        await JSRuntime.InvokeVoidAsync("toggleNavDropDown", element);
        //await JSRuntime.InvokeVoidAsync("setElementText", element, "Button 1 was clicked");
    }

    private async void ToggleNavDropDownChild(ElementReference child, ElementReference parent)
    {
        await JSRuntime.InvokeVoidAsync("toggleNavDropDownChild", child, parent);
    }

    private async void HideNavDropDown()
    {
        //reminder to make a C# list of all references before js side
        //reminder to use foreach on js side
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown1);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown2);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown3);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown4);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown5);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown6);
    }
}
