@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<nav class="navbar navbar-expand prevent-select box-shadow position-absolute w-100">
    <HiddenTop />
    <div class="container-fluid nav-items-bar">
        <a class="navbar-brand align-self-baseline" href="">
            <img src="../images/psuic-logo.png" alt="">
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            </span>
        </button>
        @*<div class="navbar-desktop">

            </div>*@

        <div class="navbar-mobile @NavMenuCssClass">
            <ul class="navbar-nav">
                <a href="javascript:void(0)" class="closebtn" @onclick="ToggleNavMenu">&times;</a>
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li @ref=navDropDown1 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown1))>
                    <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="oi oi-plus" aria-hidden="true"></span> About Us
                    </NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavLink class="dropdown-item" href="history">History</NavLink></li>
                        <li><NavLink class="dropdown-item" href="vision-and-mission">Vision & Mission</NavLink></li>
                        <li><NavLink class="dropdown-item" href="executives">Executives</NavLink></li>
                        <li><NavLink class="dropdown-item" href="faculty-members">Faculty Members</NavLink></li>
                        <li><NavLink class="dropdown-item" href="staff">Staff</NavLink></li>
                        <li><NavLink class="dropdown-item" href="cooperate-identity">Cooperate Identity</NavLink></li>
                        <li><NavLink class="dropdown-item" href="annual-report">Annual Report</NavLink></li>
                        <li><NavLink class="dropdown-item" href="contact-us">Contact Us</NavLink></li>
                    </ul>
                </li>
                <li @ref=navDropDown2 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown2))>
                    <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="oi oi-plus" aria-hidden="true"></span> News
                    </NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavLink class="dropdown-item" href="announcements">Announcements</NavLink></li>
                        <li><NavLink class="dropdown-item" href="job-vacancies">Job Vacancies</NavLink></li>
                        <li><NavLink class="dropdown-item" href="press-and-media">Press and Media</NavLink></li>
                    </ul>
                </li>
                <li @ref=navDropDown3 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown3))>
                    <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="oi oi-plus" aria-hidden="true"></span> Programs
                    </NavLink>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><NavLink class="dropdown-item" href="cmdt">CMDT</NavLink></li>
                        <li><NavLink class="dropdown-item" href="ge">GE</NavLink></li>
                    </ul>
                </li>
                <li @ref=navDropDown4 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown4))>
                    <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="oi oi-plus" aria-hidden="true"></span> Student
                    </NavLink>
                    <ul class="dropdown-content">
                        @*This divider is hidden until a method to change color is found*@
                        @*<li><hr class="dropdown-divider"></li>*@
                        <li @ref=navDropDown5 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown5,@navDropDown4))>
                            <NavLink class="nav-link">Student Activities</NavLink>
                            <ul class="dropdown-content">
                                <li><NavLink class="dropdown-item" href="student-association">- Student Association</NavLink></li>
                                <li><NavLink class="dropdown-item" href="club-and-acitivity-transcript">- Club and Acitivity Transcript</NavLink></li>
                                <li><NavLink class="dropdown-item" href="student-discipline-rules-and-regulations">- Student Discipline Rules and Regulations</NavLink></li>
                                <li><NavLink class="dropdown-item" href="disciplinary-procedures">- Disciplinary Procedures</NavLink></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown6 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown6,@navDropDown4))>
                            <NavLink class="nav-link">Student Services</NavLink>
                            <ul class="dropdown-content">
                                <li><NavLink class="dropdown-item" href="health-service">- Health Service</NavLink></li>
                                <li><NavLink class="dropdown-item" href="counseling-service">- Counseling Service</NavLink></li>
                                <li><NavLink class="dropdown-item" href="housing">- Housing</NavLink></li>
                                <li><NavLink class="dropdown-item" href="academic-calendar">- Academic Calendar</NavLink></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown7 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown7,@navDropDown4))>
                            <NavLink class="nav-link">Academic Service</NavLink>
                            <ul class="dropdown-content">
                                <li><NavLink class="dropdown-item" href="exchange-programs">- Exchange Programs</NavLink></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li @ref=navDropDown8 class="nav-item dropdown" @onclick=@(()=> @ToggleNavDropDown(@navDropDown8))>
                    <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="oi oi-plus" aria-hidden="true"></span> PSU Online Systems
                    </NavLink>
                    <ul class="dropdown-content">
                        @*This divider is hidden until a method to change color is found*@
                        <li @ref=navDropDown9 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown9,@navDropDown8))>
                            <NavLink class="nav-link">Curriculum</NavLink>
                            <ul class="dropdown-content">
                                <li><NavLink class="dropdown-item" href="mis-dss">- MIS-DSS</NavLink></li>
                                <li><NavLink class="dropdown-item" href="hrmis">- HRMIS</NavLink></li>
                                <li><NavLink class="dropdown-item" href="course-spec">- Course Spec</NavLink></li>
                                <li><NavLink class="dropdown-item" href="coure-report">- Coure Report</NavLink></li>
                                <li><NavLink class="dropdown-item" href="psu-tpsf">- PSU-TPSF</NavLink></li>
                                <li><NavLink class="dropdown-item" href="grade-submission-system">- Grade Submission System</NavLink></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li @ref=navDropDown10 class="dropdown-item dropdown" @onclick=@(()=> @ToggleNavDropDownChild(@navDropDown10,@navDropDown8))>
                            <NavLink class="nav-link">Cooperative Education</NavLink>
                            <ul class="dropdown-content">
                                <li><NavLink class="dropdown-item" href="dormitory reservation">- Dormitory Reservation</NavLink></li>
                                <li><NavLink class="dropdown-item" href="registration office">- Registration Office</NavLink></li>
                                <li><NavLink class="dropdown-item" href="sis">- SIS</NavLink></li>
                                <li><NavLink class="dropdown-item" href="lms">- LMS</NavLink></li>
                                <li><NavLink class="dropdown-item" href="psu-student-loan">- PSU Student Loan</NavLink></li>
                                <li><NavLink class="dropdown-item" href="psu-activity-transcript">- PSU Activity Transcript</NavLink></li>
                                <li><NavLink class="dropdown-item" href="facility-booking">- Facility Booking</NavLink></li>
                                <li><NavLink class="dropdown-item" href="psu-tes">- PSU-TES</NavLink></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @*Search Bar*@
                <li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </li>
                @*Languages Buttons*@
                <li>
                    <ul class="nav-languages">
                        <li class="">
                            <a class="" aria-current="page" href="#">EN</a>
                        </li>
                        <li class="">
                            <p class=""> | </p>
                        </li>
                        <li class="">
                            <a class="" aria-current="page" href="#">TH</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
@code {

    [Parameter] public EventCallback OnCancel { get; set; }
    private ElementReference navDropDown1;
    private ElementReference navDropDown2;
    private ElementReference navDropDown3;
    private ElementReference navDropDown4;
    private ElementReference navDropDown5;
    private ElementReference navDropDown6;
    private ElementReference navDropDown7;
    private ElementReference navDropDown8;
    private ElementReference navDropDown9;
    private ElementReference navDropDown10;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "navbar-collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // desktop version

    private void ToggleDropDownDesktop()
    {

    }

    // mobile version
    private async void ToggleNavDropDown(ElementReference element)
    {
        await JSRuntime.InvokeVoidAsync("toggleNavDropDown", element);
        //await JSRuntime.InvokeVoidAsync("setElementText", element, "Button 1 was clicked");
    }

    private async void ToggleNavDropDownChild(ElementReference child, ElementReference parent)
    {
        await JSRuntime.InvokeVoidAsync("toggleNavDropDownChild", child, parent);
    }

    private async void HideNavDropDown()
    {
        //reminder to make a C# list of all references before js side
        //reminder to use foreach on js side
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown1);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown2);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown3);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown4);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown5);
        await JSRuntime.InvokeVoidAsync("hideNavDropDown", navDropDown6);
    }
}
